build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_log
*.ninja_deps
*.pro.user*
*_autogen/
ui_*.h
moc_*.cpp
qrc_*.cpp
*.exe
*.dll
*.obj
*.o
*.lib
Thumbs.db
.DS_Store
